*{
    padding: 0;
    margin: 0;
    font-family: Amaranth;
    box-sizing: border-box;
}

header{
    position: fixed;
    background: radial-gradient(103.61% 31187.11% at 100% 32.53%, rgba(60, 62, 57, 0) 0%, rgba(62, 57, 57, 0.237361) 0%, rgba(0, 0, 0, 0.4) 4.75%);
    width: 100%;
    top: 0;
    height:  65px;
    z-index: 2;
}
nav {
    position: absolute;
    padding-top: 10px;
    padding-left: 30%;
}
nav>ul>li{
    display: inline-block;
    padding: 20px;
    font-size: 20px;

}
nav>ul>li>a{
    color: white;
    text-decoration: none;

}
nav>ul>li>a:hover{
    color:black;
    transition:4s ;


}
.main-image img{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 130px;
    top: 130px;
    border-radius: 50%;
}
.hero {
    width: 100%;
    height: 80vh;
    background: #1E1E1E;
}

.main-box h3:first-child{
    position: absolute;
    top: 20%;
    left: 18%;
    font-size: 40px;
    background: linear-gradient(217.35deg, #FB3C00 -18.69%, #B1B500 197.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-fill-color: transparent;


}
.main-box h2{
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 75px;
    color: white;

}
.main-box h3:last-child{
    font-family: 'AmstelvarAlpha';
    font-style: normal;
    position: absolute;
    top: 45%;
    left: 14%;
    font-size: 30px;
    font-weight: lighter;
    background: radial-gradient(516.07% 13216.28% at 107.18% -225.89%, #00FFC2 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-fill-color: transparent;

}
.hero aside{
    position: absolute;
    bottom: 8%;
    bottom: 20%;
    left: 6%;

}
.hero aside i{
    font-size: 50px;
    margin: 22px 40px;

}
.hero aside i:hover{
    transform: scale(1.3);
    transition: .3s;
}
.hero aside h4 {
    font-size: 20px;
    margin: 15px 280px;
    color: #FF1717;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background: black;
}
.about-box img{
    height: auto;
    width: 450px;
}

.about-box{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text{
    width: 500px;
}
.about-text h2{
    color: white;
    font-size: 70px;
    margin-bottom: 20px;
}

.about-text h3{
    color: red;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.about-text p{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.about-text button {
    background-color: #960075;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.name-box{
    width: 500px;
    height: 200px;
    background: radial-gradient(172.82% 172.82% at 53.68% 76.7%, #920000 1.94%, rgba(217, 217, 217, 0) 96.65%, rgba(255, 255, 255, 0.939796) 97.08%);
    margin-left: 150px;
    margin-top: 40px;
    filter: drop-shadow(0px 4px 90px rgba(0, 0, 0, 0.25));

}
tr td:first-child{
    padding-right: 20px;

}
tr td{
    padding-top: 28px;
    font-size: 20px;
    color: white;
}
.myskills-text h2{
    color: white;
    font-size: 50px;
    width: 1130px;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 50px;
}
.skill{
    width: 100%;
    padding: 100px 0px;
    background: black;

}
.skill section:nth-child(2){
    width: 900px;
    height: 400px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns:repeat(4,1fr);
    gap: 50px;
}
.skill section:nth-child(2) div{

    background: linear-gradient(180deg, #790066 0%, rgba(124, 98, 67, 0) 100%);
}
.skill-deatail img{
    width: 40px;
    height: 40px;
    position: relative;
    left: 30px;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;

}
.skill-deatail div h4{
    position: relative;
    width: 70px;
    height: 30px;
    left:60px;
    top: 20px;
    font-size: 20px;
    color: white;


}
.skill-deatail div h5{
    position: relative;
    left:80px;
    top: 20px;
    font-size: 20px;
    color: white;
}
.button-read .button{
    background-color: #960075;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 50px;
    margin-left: 600px;
    margin-bottom: 30px;
    top: 54px;
    position: relative;


}
.tools-image h4{
    color: white;
    font-size: 25px;
    width: 1130px;
    margin: 10px auto;
    text-align: center;
    padding-bottom: 30px;
}
.tools {
    width: 100%;
    padding: 100px 0px;
    background: black;
}
.tools-box{
    border-radius: 50px;
    margin: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.tools-box img{
    width: 5%;
    height: 5%;
    margin: 30px 20px;
    transition: transform .4s;

}

.tools-box img:hover{
    transform: scale(2);
}